@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksand';
    src: url('fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/quicksand-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'patrickHandSC';
    src: url('fonts/patrickhandsc-regular-webfont.woff2') format('woff2'),
         url('fonts/patrickhandsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --black: #242124ff;
    --white: #fbf8f5ff;
    --light-gray: #eee6dbff;
}

body {
    margin: 0;
    background-color: var(--white);
}

.container{
    display: grid;
    gap: 2rem;
}

.header {
    display: flex;
    padding-left: 7vw;
    gap: 0.8rem;
    background-color: var(--light-gray);
    font-family: "patrickHandSC";
    color: var(--black);
    box-shadow: rgba(50, 50, 93, 0.11) 0px 2px 5px -1px, rgba(0, 0, 0, 0.192) 0px 1px 3px -1px;
}

.header img {
    width: 46px;
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    column-gap: 6rem;
    row-gap: 3rem;
    justify-self: center;
    max-width:65%;
    padding: 50px;
}

.book-card {
    display: flex;
    color: var(--white);
    aspect-ratio: 7 / 10;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 1rem rgba(59, 59, 59, 0.3));
}

.book-card-content {
    display: grid;
    grid-template: repeat(6, minmax(0, 1fr)) / repeat(2, minmax(0, 1fr));
    grid-template-areas:
    ". ."
    "title title"
    "title title"
    ". ."
    "pages pages"
    "read delete";
    text-align: center;
    text-wrap: balance;
    justify-items: center;
    align-items: center;
    position: relative;
    height: 65%;
    width: 60%;
    top: -3.5rem;
    left: 1rem;
    padding: 3.2rem;
}

.title-container {
    display: flex;
    flex-direction: column;
    grid-area: title;
}

.title-container h1 {
    font-size: calc(20px + 0.5vw);
}

.title-container h2 {
    font-size: calc(12px + 0.5vw);
}

.title-container h1, .title-container h2 {
    margin: 0.2em;
}

.book-card-content p {
    font-size: 0.9rem;
    grid-area: pages;
}

.book-card-content h1, .book-card-content h2 {
    font-family: "quicksand";
}

.book-card-content p {
    font-family: "roboto";
}

.read-checkbox {
    grid-area: read;
    appearance: none;
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid white;
}

.read-checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #27792f;
}

.delete-btn {
    grid-area: delete;
    border: none;
    background: url(images/delete-button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    aspect-ratio: 14/18;
}

.delete-btn:hover {
    filter: brightness(0.8);
}

.book-card:nth-child(4n + 1) {
    background-image: url(images/red-book.png);
}

.book-card:nth-child(4n + 2) {
    background-image: url(images/blue-book.png);
}

.book-card:nth-child(4n + 3) {
    background-image: url(images/green-book.png);
}

.book-card:nth-child(4n + 4) {
    background-image: url(images/purple-book.png);
}

#new-book-btn {
    width: 130px;
    height: 130px;
    position:fixed;
    right: 3rem;
    bottom: 3rem;
    border-radius: 50%;
    border: none;
    background: url(images/add-button.svg);
    background-size: cover;
}

dialog {
    border-radius: 15px;
    border: none;
    padding: 0;
    font-family: "roboto";
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-heading {
    background-color:var(--light-gray);
}

@media only screen and (max-width: 1000px) {
    .books-container {
        max-width: 90%;
    }
    #new-book-btn {
        display: none;
    }
}