@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksand';
    src: url('fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/quicksand-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'patrickHandSC';
    src: url('fonts/patrickhandsc-regular-webfont.woff2') format('woff2'),
         url('fonts/patrickhandsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --black: #242124ff;
    --white: #fbf8f5ff;
    --light-gray: #eee6dbff;
    --gray: #c4beb6;
    --red: #ed5e63ff;
}

body {
    margin: 0;
    background-color: var(--white);
}

.container, .books-container, .book-card-content {
    display: grid;
}

.header, .header-title, .book-card, .title-container, .modal-content, .modal-heading, .form-input-field, .form-checkbox-field {
    display: flex;
}

.container {
    gap: 2rem;
}

.header {
    justify-content: space-between;
    padding: 0 7vw;
    background-color: var(--light-gray);
    box-shadow: rgba(50, 50, 93, 0.11) 0px 2px 5px -1px, rgba(0, 0, 0, 0.192) 0px 1px 3px -1px;
    align-items: center;
}

.header-title {
    gap: 0.8rem;
    font-family: "patrickHandSC";
    color: var(--black);
}

.header img {
    width: 46px;
}

.books-container {
    grid-template-columns: repeat(auto-fit, 300px);
    column-gap: 6rem;
    row-gap: 3rem;
    justify-self: center;
    max-width:65%;
    padding: 50px;
}

.book-card {
    color: var(--white);
    aspect-ratio: 7 / 10;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0 0 1rem rgba(59, 59, 59, 0.3));
}

.book-card-content {
    grid-template: repeat(6, minmax(0, 1fr)) / repeat(2, minmax(0, 1fr));
    grid-template-areas:
    ". ."
    "title title"
    "title title"
    ". ."
    "pages pages"
    "read delete";
    text-align: center;
    text-wrap: balance;
    justify-items: center;
    align-items: center;
    position: relative;
    height: 65%;
    width: 60%;
    top: -3.5rem;
    left: 1rem;
    padding: 3.2rem;
}

.title-container {
    flex-direction: column;
    grid-area: title;
}

.title-container h1 {
    font-size: calc(20px + 0.5vw);
}

.title-container h2 {
    font-size: calc(12px + 0.5vw);
}

.title-container h1, .title-container h2 {
    margin: 0.2em;
}

.book-card-content p {
    font-size: 0.9rem;
    grid-area: pages;
}

.book-card-content h1, .book-card-content h2 {
    font-family: "quicksand", Arial, Helvetica, sans-serif;
}

.book-card-content p, dialog {
    font-family: "roboto", Arial, Helvetica, sans-serif;
}

.read-checkbox {
    grid-area: read;
    appearance: none;
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid white;
}

.read-checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    accent-color: #27792f;
}

button, dialog {
    border: none;
}

.delete-btn {
    grid-area: delete;
    background: url(images/delete-button.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30%;
    aspect-ratio: 14/18;
}

.delete-btn:hover {
    filter: brightness(0.8);
}

.book-card:nth-child(4n + 1) {
    background-image: url(images/red-book.png);
}

.book-card:nth-child(4n + 2) {
    background-image: url(images/blue-book.png);
}

.book-card:nth-child(4n + 3) {
    background-image: url(images/green-book.png);
}

.book-card:nth-child(4n + 4) {
    background-image: url(images/purple-book.png);
}

.new-book-btn, #close-btn {
    border-radius: 50%;
}

.new-book-btn {
    background: url(images/add-button.svg);
    background-size: cover;
    width: 4rem;
    height: 4rem;
}

#new-book-btn-small {
    display: none;
}

#new-book-btn-large {
    width: 130px;
    height: 130px;
    position:fixed;
    right: 3rem;
    bottom: 3rem;
}

dialog {
    width: 320px;
    height: 510px;
    border-radius: 15px;
    padding: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    flex-direction: column;
    color: var(--black)
}

.modal-heading {
    flex-direction: column;
    background-color:var(--light-gray);
}

.modal-heading h2 {
    align-self: center;
}

#close-btn {
    align-self: flex-end;
    background: url(images/close-button.svg);
    background-size: cover;
    width: 2rem;
    height: 2rem;
}

form {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.form-input-field {
    justify-self: center;
    flex-direction: column;
    margin-bottom: 0.3rem;
}

.form-input-field input {
    border: 1px solid var(--gray);
    border-radius: 5px;
    height: 35px;
    font-size: 1.2rem;
}

.form-checkbox-field {
    gap: 0.7rem;
    align-items: center;
}

#read-input {
    width: 20px;
    height: 20px;
    accent-color: green;
}

#submit-btn {
    align-self: center;
    background-color: var(--red);
    color: var(--white);
    border-radius: 25px;
    height: 2.5rem;
    width: 6rem;
    font-size: 1em;
    font-weight: 600;
    margin-top: 1rem;
}

@media only screen and (max-width: 1050px) {
    .books-container {
        max-width: 90%;
    }
}

/* The new book button appears in the page's header on smaller 
screens to prevent it from overlapping the page content*/
@media only screen and (max-width: 995px) {
    #new-book-btn-small {
        display: inline;
    }

    #new-book-btn-large {
        display: none;
    }
}