@font-face {
    font-family: 'roboto';
    src: url('fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('fonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'quicksand';
    src: url('fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/quicksand-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'patrickHandSC';
    src: url('fonts/patrickhandsc-regular-webfont.woff2') format('woff2'),
         url('fonts/patrickhandsc-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --black: #242124ff;
    --white: #fbf8f5ff;
    --light-gray: #eee6dbff;
    --red: #ed5e63ff;
    /*
    --blue: #2f4f6bff;
    --green: #6eb072ff;
    --purple: #8b7fb5ff;
    */
}

body {
    margin: 0;
    background-color: var(--white);
}

.container{
    display: grid;
    gap: 2rem;
}

.header {
    display: flex;
    padding-left: 7vw;
    gap: 0.8rem;
    background-color: var(--light-gray);
}

.header img {
    width: 46px;
}

.header h1{
    font-family: "patrickHandSC";
}

.books-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 6rem;
    row-gap: 3brarrem;
    justify-content: start;
    justify-self: center;
    max-width:65%;
    padding: 50px;
}

.book-card {
    display: flex;
    color: white;
    aspect-ratio: 7 / 10;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    overflow: hidden;
}

.book-card-content {
    position: relative;
    left: 0.5rem;
    padding: 3rem;
}

.book-card-content h1, .book-card-content h2 {
    font-family: "quicksand";
}

.book-card-content p {
    font-family: "roboto";
}

.book-card:nth-child(4n + 1) {
    background-image: url(images/red-book.png);
}

.book-card:nth-child(4n + 2) {
    background-image: url(images/blue-book.png);
}

.book-card:nth-child(4n + 3) {
    background-image: url(images/green-book.png);
}

.book-card:nth-child(4n + 4) {
    background-image: url(images/purple-book.png);
}

#new-book-btn {
    width: 130px;
    height: 130px;
    position:fixed;
    right: 3rem;
    bottom: 3rem;
    border-radius: 50%;
    border: none;
    background: url(images/add-button.svg);
    background-size: cover;
}

dialog {
    border-radius: 15px;
    border: none;
    padding: 0;
    font-family: "roboto";
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-heading {
    background-color:var(--light-gray);
}